<a href="https://colab.research.google.com/github/ArcotSiri/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Create a function that can accept two arguments name and age and print its value
def person(name,age):
  print("{} is {} years old!!!".format(name,age))
  return 

person('Siri','20')

Siri is 20 years old!!!

In [14]:
#Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def func1(*var):
  for num in var:
    print("{}\n".format(num))

func1(20,15,34)
func1(12,567,87,45)

20

15

34

12

567

87

45

In [15]:
# Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call
def calculation(n1,n2):
  add = n1+n2
  sub = n1-n2
  return add, sub

calculation(50,20)

(70, 30)

In [1]:
#Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary
def showEmployee(name, salary=9000):
  print("{}'s salary is {}".format(name,salary))

showEmployee('Ben',20000)
showEmployee('Altaf')

Ben's salary is 20000
Altaf's salary is 9000